.editstudent:hover, .removestudent:hover, .deleteclass:hover, #pastebutton:hover{
  color:black;
  cursor:pointer;
}
.editstudent, .removestudent, .deleteclass, #pastebutton{
  color:#9e9e9e;
}
#pastebutton {
    font-size:1.2em;
}
.deleteclass {
    font-size:1em;
}
.studentnamefield{
    display:inline-block;

}
p.editable-click { border-bottom: none; }

#createclasslistgroupitem {
    text-align:center;
}
.classinputtextfield {
    display:inline-block;
    width:100%;
}
#infotext {
    margin-bottom: 1em;
}
.studentlist {
    overflow: auto;
    height:20em;
}
