.editstudent:hover, .removestudent:hover, .deleteclass:hover{
  color:black;
  cursor:pointer;
}
.editstudent, .removestudent, .deleteclass{
  color:#9e9e9e;
}
.studentnamefield{
    display:inline-block;

}
p.editable-click { border-bottom: none; }

#createclasslistgroupitem {
    text-align:center;
}
.classinputtextfield {
    display:inline-block;
    width:100%;
}