{% extends "gruppeapp/base.html" %}
{% load static %}
{% load gruppeapp_extras %}
{% block title %}Group Generator{% endblock %}

{% block stylesheets%}
<link rel="stylesheet" href="{% static "gruppeapp/css/myclasses.css" %}">
<!--Bootstrap editable field plugin -->
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{%endblock%}

{% block body %}
<div class="container">
{%if loginerror is True%}
<h1 class="page-header">You are not logged in!</h1>

{%endif%}

<div class="col-md-4">
  <div class="list-group">
    {%for class in classes %}
    <a class="list-group-item">
      <h4 class="list-group-item-heading">{{class.navn}} <span class="badge pull-right">Students: {{class.elev_set.all|length}}</h4>
      <p class="list-group-item-text">{{class.description}}</p>
    </a>
    {% endfor %}
  </div>
</div>
<div class="col-md-5">

  {%for class in classes%}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Students in {{class.navn}}</h3>
    </div>
    <form method="post" action="{%url 'gruppeapp:myclasses'%}" id="studentform">
      {% csrf_token%}
      <input type="hidden" name="classid" value="{{class.id}}">

        <div class="panel-body">
        <div class="list-group studentlist" >
          {%for student in class.elev_set.all %}

            <div class="list-group-item" id="{{forloop.counter}}studentcontainer">
              <div class="row">
                <div class="col-md-8">
                  <p  data-type="text" data-title="Enter student name" class="studentnamefield">{{student.navn}}</p>
                  <input type="hidden" name="{{ forloop.counter0|abc }}name" id="{{ forloop.counter0|abc }}name" value="{{student.navn}}">
                </div>
                <div class="col-md-4">
                  <span class="glyphicon glyphicon-remove removestudent pull-right" data-student="{{forloop.counter|abc}}"></span> <br>

                </div>

              </div>
            </div>

          {%endfor%}

            <div colspan="2" class="list-group-item" id="studentinput">
            <div class="input-group">
              <input type="text" id="newstudentinput" class="form-control" placeholder="Add student...">
              <span class="input-group-btn"><button type="button" class="btn-default btn" id="newstudentbutton" ><span class="glyphicon glyphicon-plus"></span></button></span>
            </div></div>

      </div>
    </div>
      <button data-toggle="popover" data-content="Remember to save your group!" type="submit" name="save" class="btn-default btn pull-right" id="savebutton">Save Changes</button>
    </form>
</div>
  {%endfor%}

</div>


</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "gruppeapp/js/myclasses.js" %}"></script>
<!--Bootstrap editable field plugin -->
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock scripts %}
