{% extends "gruppeapp/base.html" %}
{% load static %}
{% load gruppeapp_extras %}
{% block title %}Group Generator{% endblock %}

{% block stylesheets%}
<link rel="stylesheet" href="{% static "gruppeapp/css/myclasses.css" %}">
<!--Bootstrap editable field plugin -->
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{%endblock%}

{% block body %}
<div class="container">
{%if loginerror is True%}
<h1 class="page-header">You are not logged in!</h1>

{%endif%}

  {% if loginerror is not True %}
<div class="col-md-4">
  <div class="list-group">
    {%for class in classes %}
    <a class="list-group-item {% if class == currentclass %}active{%endif%}" href="{% url 'gruppeapp:myclasses' currentclass=class.pk %}">
      <h4 class="list-group-item-heading">{{class.navn}} <span class="badge pull-right">Students: {{class.elev_set.all|length}}</span></h4>
      <p class="list-group-item-text">{{class.description}}</p>
    </a>
    {% endfor %}
    <a class="list-group-item" href="#" id="createclasslistgroupitem" data-toggle="modal" data-target="#createclassmodal">
      <p><span class="glyphicon glyphicon-plus"></span></p>
    </a>
  </div>
</div>

<div id="createclassmodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="createnewclass" action="{% url 'gruppeapp:createnewclass' %}" method="post">
        {% csrf_token %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createclasstitle">Create new class</h4>

      </div>
      <div class="modal-body">
        <!--TODO: add form-->


            <h4>Class name:</h4>
            <input class="classinputtextfield" name="classname" type="text" required="True" placeholder="Example: 3.X">
            <h4>Class description:</h4>
            <textarea class="classinputtextfield" name="classdescription" rows="4" placeholder="Example: This is the class 3.X on a school someplace"></textarea>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Create class</button>
      </div>
      </form>
    </div>
  </div>

</div>


<div class="col-md-5">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Students in {{currentclass.navn}} <span class="glyphicon glyphicon-trash pull-right" data-toggle="modal" data-target="#deletemodal"></span></h3>



      <div class="modal fade" tabindex="-1" role="dialog" id="deletemodal">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Confirm deletion of {{currentclass.navn}}</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to delete {{currentclass.navn}}?
              This cannot be reversed!
            </div>
            <div class="modal-footer">

              <form action="{% url 'gruppeapp:deleteclass' %}" method="post">
                {% csrf_token %}
                <button type="button" class="btn btn-default" data-dismiss="modal">No, take me back!</button>
                <button type="submit" class="btn btn-danger">Delete class</button>
                <input type="hidden" name="classid" value="{{currentclass.id}}">

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form method="post" action="{%url 'gruppeapp:myclasses'%}" id="studentform">
      {% csrf_token%}
      <input type="hidden" name="classid" value="{{currentclass.id}}">

        <div class="panel-body">
        <div class="list-group studentlist" >
          {%for student in currentclass.elev_set.all %}

            <div class="list-group-item" id="{{forloop.counter}}studentcontainer">
              <div class="row">
                <div class="col-md-8">
                  <p  data-type="text" data-title="Enter student name" class="studentnamefield">{{student.navn}}</p>
                  <input type="hidden" name="{{ forloop.counter0|abc }}name" id="{{ forloop.counter0|abc }}name" value="{{student.navn}}">
                </div>
                <div class="col-md-4">
                  <span class="glyphicon glyphicon-remove removestudent pull-right" data-student="{{forloop.counter|abc}}"></span> <br>

                </div>

              </div>
            </div>

          {%endfor%}

            <div colspan="2" class="list-group-item" id="studentinput">
            <div class="input-group">
              <input type="text" id="newstudentinput" class="form-control" placeholder="Add student...">
              <span class="input-group-btn"><button type="button" class="btn-default btn" id="newstudentbutton" ><span class="glyphicon glyphicon-plus"></span></button></span>
            </div></div>

      </div>
    </div>
      <button data-toggle="popover" data-content="Remember to save your group!" type="submit" name="save" class="btn-default btn pull-right" id="savebutton">Save Changes</button>
    </form>
</div>



</div>

{%endif%}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "gruppeapp/js/myclasses.js" %}"></script>
<!--Bootstrap editable field plugin -->
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock scripts %}
