{% extends "gruppeapp/base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static "gruppeapp/css/viewgroup.css" %}">
{%endblock%}

{% block title %}View group{% endblock %}

{% block body %}

<div class="container">
  {% autoescape off %}
  <div class="bigad">{{bigoverhead.text}}</div>
  <div class="smallad">{{smalloverhead.text}}</div>
  {%endautoescape%}

  <div class="row">
    <h1>Your group: </h1>


    <table class="table table-bordered " id="generatedgrouptable" style="table-layout:fixed;">
      <tr>
        <th></th>
        {%for i in numberofgroupsrange %}
          <th>{{forloop.counter}}</th>
        {%endfor%}
      </tr>
      <tr>
        <th>
          A
        </th>
      {%for student in students %}
        {% if not student is None %}

              <td>
                {{student}}
              </td>

            {% if forloop.counter|divisibleby:numberofgroups %}

            </tr>
              {% if not forloop.counter == students|length %}
            <tr>
              <th>
                {% cycle "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S" "T" "U" "V" "X" "Y" "Z" %}
              </th>
              {%endif%}
            {%endif%}
          {%endif%}
      {%endfor%}
    </tr>
    </table>
    <h5>Your unique link to share with your students: <code>{{request.build_absolute_uri}}</code></h5>

  </div>
  {% autoescape off %}
  <div class="bigad">{{bigunderhead.text}}</div>
  <div class="smallad">{{smallunderhead.text}}</div>
  {%endautoescape%}
</div>

{% endblock %}


{% block scripts %}

{% endblock scripts %}
