{% extends "gruppeapp/base.html" %}
{% load static %}

{% block title %}Group Generator{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <!-- Left side -->
    <div class="page-header">
      <h1> Group Generator </h1>
    </div>

    <!-- optional error message (will be woked when user tries to do something bad) -->
    {% if error %}
    <div class="alert alert-warning">
      <h4><strong>Error!</strong> {{errormessage}}</h4>
    </div>
    {% endif %}
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">Students added:</p>
      </div>
    <!-- Table that shows current students -->
    <div class="panel-body">
    <table class="table col-md-3 pull-left" id="grouptable" style="table-layout: fixed;">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

    </table>
    <button class="btn btn-sm col-md-2 pull-right" id="clear">Clear Class</button>
  </div>
  </div>
</div>

  <!-- Right side -->
    <div class="col-md-6">






      <!-- Form for adding students -->
      <p>Add students: </p>
      <form id="addstudent" action="javascript:void(0);">
        <div class="input-group">
          <input type="text" id="nameinput" placeholder="Student name" class="form-control">

          <span class="input-group-btn">
            <button class="btn btn-default">Add Student</button>
          </span>
        </div>
      </form>





      <br/>
      <p>Number of groups:</p>
      <!-- Hidden form containing students -->
      <form id="studentlist" action="{% url 'gruppeapp:creategroup' %}" method="post">
        {% csrf_token %}
        <input type='hidden' id="studentcounter" name="studentcounter" value=0>

        <!-- Input that contains how many groups -->
        <div class="form-group col-md-8 col-lg-6 col-sm-10">
          <div class="input-group">
            <input class="form-control" type='number' min="1" max="20" name="numberofgroupsinput" placeholder="Groups" required="True">
            <div class="input-group-btn">
              <button class="btn btn-primary" type="submit">Generate Group</button>
            </div>
          </div>
        </div>

      </form>


      <form id="creategroupfromclass" action="{%url 'gruppeapp:creategroupfromclass' %}" method="post">
        {%csrf_token%}
        <div class="form-group">
          <div class="input-group">
            <select required="True" form="creategroupfromclass" {%if not user.is_authenticated %}disabled="True"{%endif%} class="form-control" name="classid">
              {% if classes is not None %}
              {% for class in classes %}
                <option value="{{class.id}}">{{class.navn}}</option>
              {%endfor%}
              {%endif%}
            </select>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" {%if not user.is_authenticated %}disabled="True"{%endif%}>
                  Create group from class
                </button>
              </span>
            </div>
        </div>
      </form>



    </div>
  </div>
</div>

<!--modal that allows users to select students if they want to create a group from a class -->
{% if selectedclass is not None %}
<div class="modal show" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        Create group from {{selectedclass.navn}}
      </div>
      <form action="{% url 'gruppeapp:creategroup'%}" method="post" id="studentsfromclassform">
      {%csrf_token%}
        <div class="modal-body">


          <h3>Do you want to create a group from these students?</h3>
          <div class="container">
          <div class="row" id="studentsfromclass">
          {% for student in selectedclass.elev_set.all %}
            <div class="checkbox">
              <label><input type="checkbox" name="student{{forloop.counter0}}" value="{{student.navn}}" checked>{{student.navn}}</label>
            </div>

          {%endfor%}
          </div>
          </div>
        </div>

        <div class="modal-footer">
          <input type="hidden" name="studentcounter" value="0" id="studentsfromclasscounter">
          <input class="pull-left" type='number' min="1" max="20" name="numberofgroupsinput" placeholder="Number of groups..." required="True">
          <a class="btn btn-default" href="{% url 'gruppeapp:makegroup' %}">Cancel</a>
          <button type="submit" class="btn btn-primary">Create class!</button>
        </div>

      </form>
    </div>
  </div>
</div>
{%endif%}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "gruppeapp/js/welcome.js" %}"></script>
{% endblock scripts %}
