{% extends "gruppeapp/base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "gruppeapp/css/welcome.css" %}">
{%endblock%}
{% block title %}Group Generator{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <!-- Left side -->
    <div class="page-header">
      <h1> Group Generator </h1>
    </div>

    <!-- optional error message (will be woked when user tries to do something bad) -->
    {% if error %}
    <div class="alert alert-warning">
      <h4><strong>Error!</strong> {{errormessage}}</h4>
    </div>
    {% endif %}
  <div class="col-md-6">

    <h3>Generate random teams and groups quickly with Group Generator</h3>
    <p>It is easy to generate random groups.</p>
    <ol>
      <li>Enter the names of the people you would like to group.</li>
      <li>Choose the number of groups you would like.</li>
      <li>Click <a href="#" id="generategrouplink">Generate Groups!</a></li>
    </ol>
    <br>
    <h4>For even faster groups</h4>
    <p>If you want to speed up the process of entering your students each time, you can now choose to save your students!</p>
    <p>First of all, you need to <a href="{% url 'gruppeapp:register'%}">create an account</a>. Then you can create a class like so:</p>
    <ol>
      <li>Go to your <a href="{% url 'gruppeapp:myclasses' %}"> "My Classes" page</a></li>
      <li>Click the plus-sign to add a new class.</li>
      <li>Add your desired students to your class and save your changes.</li>
      <li>Go to the front page, choose your groups from the "Create Groups from Class"-field and create your groups!</li>
    </ol>
  </div>


  <!-- Right side -->
    <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">

        <p class="panel-title">Students added: <span id="pastebutton" title="Paste students from clipboard" class="glyphicon glyphicon-paste pull-right" data-toggle="modal" data-target="#pastemodal"></span> </p>


      </div>
    <!-- Table that shows current students -->
    <div class="panel-body">
      <ul class="list-group col-md-12 col-sm-12 col-xs-12" id="grouplist">

      </ul>
      <div colspan="2" class="" id="studentinput">

            <div class="input-group">
              <input type="text" id="nameinput" class="form-control" placeholder="Add student...">
              <span class="input-group-btn"><button type="button" class="btn-default btn" id="addstudent" ><span class="glyphicon glyphicon-plus"></span></button></span>
            </div>
      </div>
    </div>
      <div class="modal fade" id="pastemodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" >Paste students from clipboard</h4>
            </div>
            <div class="modal-body">
              <p>Paste students from clipboard into the following text-field and press "Add Students"</p>
              <textarea id="pastetext" cols="40" rows="10" placeholder="Paste students here..."></textarea>
            </div>
            <div class="modal-footer">
              <button class="btn btn-md btn-default" data-dismiss="modal">Cancel</button>
              <button class="btn btn-md btn-success" data-dismiss="modal" id="pastestudentbutton">Add Students</button>

            </div>
          </div>
        </div>
      </div>
  </div>




      <!-- Form for adding students -->
      <!--<p>Add students: </p>
      <form id="addstudent" action="javascript:void(0);">
        <div class="input-group">
          <input type="text" id="nameinput" placeholder="Student name" class="form-control">

          <span class="input-group-btn">
            <button class="btn btn-primary">Add Student</button>
          </span>
        </div>
      </form>-->





      <br/>
      <p>Number of groups:</p>
      <!-- Hidden form containing students -->
      <form id="studentlist" action="{% url 'gruppeapp:creategroup' %}" method="post">
        {% csrf_token %}
        <input type='hidden' id="studentcounter" name="studentcounter" value="0">

        <!-- Input that contains how many groups -->
        <div class="form-group col-md-8 col-lg-6 col-sm-10">
          <div class="input-group">
            <input class="form-control" type='number' min="1" max="20" name="numberofgroupsinput" placeholder="" required="True">
            <div class="input-group-btn">
              <button class="btn btn-success" type="submit" id="generategroupbutton">Generate Groups</button>
            </div>
          </div>
        </div>

      </form>


      <form id="creategroupfromclass" action="{%url 'gruppeapp:creategroupfromclass' %}" method="post">
        {%csrf_token%}
        <div class="form-group">
          <div class="input-group">
            <select required="True" form="creategroupfromclass" {%if not user.is_authenticated %}disabled="True"{%endif%} class="form-control" name="classid">
              {% if classes is not None %}
              {% for class in classes %}
                <option value="{{class.id}}">{{class.navn}}</option>
              {%endfor%}
              {%endif%}
            </select>
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" {%if not user.is_authenticated %}disabled="True"{%endif%}>
                  Create Groups from Class
                </button>
              </span>
            </div>
        </div>
      </form>



    </div>
  </div>
</div>

<!--modal that allows users to select students if they want to create a group from a class -->


  <div class="modal fade" id="createFromClassModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        Create group from {{selectedclass.navn}}
      </div>
      <form action="{% url 'gruppeapp:creategroup'%}" method="post" id="studentsfromclassform">
      {%csrf_token%}
        <div class="modal-body">


          <h3>Do you want to create a group from these students?</h3>
          <div class="container">
          <div class="row" id="studentsfromclass">
          {% for student in selectedclass.elev_set.all %}
            <div class="checkbox">
              <input type="hidden" name="studentexists{{forloop.counter0}}" value="1">
              <label><input type="checkbox" name="student{{forloop.counter0}}" value="{{student.navn}}" checked>{{student.navn}}</label>
            </div>

          {%endfor%}
          </div>
          </div>
        </div>

        <div class="modal-footer">
          <input type="hidden" name="studentcounter" value="{{selectedclass.elev_set.all|length}}" id="studentsfromclasscounter">
          <input type="hidden" name="createfromclass" value="1">
          <input class="pull-left" type='number' min="1" max="20" name="numberofgroupsinput" placeholder="Number of groups..." required="True">
          <a class="btn btn-default" href="{% url 'gruppeapp:makegroup' %}">Cancel</a>
          <button type="submit" class="btn btn-primary">Create class!</button>
        </div>

      </form>
    </div>
  </div>
</div>
{% if selectedclass is not None %}
<input id="createGroupFromClassBoolean" value="true" type="hidden">
<button id="secretGroupFromClassTrigger" type="button" data-toggle="modal" data-target="#createFromClassModal" hidden></button>
{%endif%}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "gruppeapp/js/welcome.js" %}"></script>
{% endblock scripts %}
